language: go

go:
  - 1.11.x
  - 1.13.x

before_install:
  - go get -t -v ./...
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
  - goveralls -service=travis-ci
  - go test ./... -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients: longxianwen@outlook.com
    on_success: change
    on_failure: always
